:root{
    --pcolor: #2500ac;
    --scolor: #ffe600;
    --fontcolor:#3d3d3d;
    --lightgrey:#b1b1b1;
    --whitecolor:white;
    --lightp:#e8e4f3;
    --lights:#f3f387;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'lato', sanserif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
}
.sidebar{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--pcolor);
    color: var(--whitecolor);
    position: fixed;    
    left: 0;
}
.logo{
    letter-spacing: 2;
}
.logo span{
    color: var(--scolor);
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.menu a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--whitecolor);
}
.menu ion-icon{
    margin-right: 0.5rem;
}
.menu a.active{
        width: 200%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        gap: 0.5rem;
        background-color: var(--whitecolor);
        color: var(--fontcolor);
        border: none;
        border-radius:10px 0px 0px 10px;
        cursor: pointer;
        font-weight: bolder;
        position: relative;
}
.menu a:hover{
    font-weight: bolder;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    background-color: var(--whitecolor);
    color: var(--fontcolor);
    border: none;
    border-radius:10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}
.profile:hover{
    background-color: var(--scolor);
}
.profile-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.profile-name p{
    font-size: 12px;
    font-weight: bolder;
}
.main{
    width: calc(100% - 20% - 25%);
    min-height: 100%;
    min-width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2rem 2%;
    margin-left: 20%;
    background-color: var(--lightp);
    z-index: 1;
}
.main-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu-bar{
    background-color: var(--whitecolor);
    padding:0.5rem;
    border-radius:20px;
    display: none;
}
.search{
    width:100%;
    display:flex;
    justify-content: space-between;
    border: none;
    background-color: none;
    border-radius: 20px;
    padding:0.5rem 1rem;
    position: relative;
    background-color: var(--whitecolor);
}
.search input{
    width:90%;
    border:none;
}
.btn-search{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 5%;
    border: none;
    background-color: var(--pcolor);
    color: var(--whitecolor);
    font-size: 18px;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
    cursor:pointer;
}
.btn-search:hover{
    background-color: var(--scolor);
    color: var(--fontcolor);
}
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:1rem 0;
    gap: 15rem;
    overflow-y: auto; 
}
.card{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 3%;
    margin:0 1%;
    background-color: var(--whitecolor);
    line-height: 1.5;
    gap:1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    cursor: pointer;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-left{
    width: 10%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    border: 20%;
}
.card-left img{
    width: 100px;
    height: auto;
    min-height:60px ;
    padding: 1rem;
}
.card-center{
    width: 50%;
}
.card-center h3{
    display: flex;
    padding: 0 0.5rem 0 0;
    align-items: center;
}
.card-loc, .card-sub{
    font-size: 13px;
    color: var(--fontcolor);
}

.card-sub{
    display: flex;
    flex-wrap: wrap;
}
.card-sub p{
    display: flex;
    padding: 0 0.5rem 0 0;
    align-items: center;
    color: var(--pcolor);
}
.card-right{
    width: 15%;
}
.card-tag p{
    color: var(--fontcolor);
    font-size: 13px;
}
.card-amount{
    padding: 0.5rem 0;
    color: var(--pcolor);
    font-size: 18px;
    font-weight: bolder;
}
.card-amount span{
    font-size: 12px;
    font-weight: 400;
}
.detail{
    width: 25%;
    min-width:250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:2rem;
    position: fixed;
    right: 0;
    background-color: var(--whitecolor);
    overflow:scroll;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.close-detail{
    display: none;
}
.detail-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail-header img{
    width: 50px;
    height: 50px;

}
.divider{
  width: 100%;
  height: 1px;
  background-color: grey; 
  border: none ;
  margin: 1rem 0;

}
.detail-desc{
    line-height: 1.5;
    display: flex;
    align-items: center;
 
}